.cards-container {
    margin: 2rem auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
    .card {
        margin: 2.8rem;
        border-radius: 15px;
        padding: 0;
        width: 20rem;
        box-shadow: inset 0 -3em 3em rgba($first-color-light, 0.1),
                   0.2em 0.2em 0.7em rgba($first-color-light, 0.3);
        background: $gallery-color;
            
        img, .card-img-top {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px; 
            height: 12rem;
            object-fit: cover;
        }

        .card-main {
            height: 2.5rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            box-shadow: inset 0 -1.2em 3em rgba($first-color, 0.2);
                 
            .card-title {
                color: $second-color;  
                font-weight: 200;
                margin: 0;
            }    
        }

        .card-body {
            display: flex;
            flex-direction: column;
            text-align: center;  
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 1.5rem 0 0.5rem 0; 
            
            
            > *:first-child {
                padding-bottom: 0.8rem;
            }

            .card-subtitle { 
                font-weight: 600;
                margin: 0;
            }

            .card-description {
                flex-direction: column;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;

                .card-text {
                    font-weight: 200;
                    margin: 0;
                }
            }

        }
        
        &:hover {
            transform: scale(1.005);
        }

        &:active {
            opacity: 86%;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1em;

    .page-item {
        background-color: $second-color; 
        color: $gallery-color; 
        border-color: $gallery-color;
        &:hover, &:focus, &:active, &:disabled {
            background-color: $gallery-color;
            border-color: $gallery-color;
            color: $second-color;
            text-decoration: none;          
        }  
    
        .page-link {
            background-color: $second-color; 
            color: $gallery-color; 
            border-color: $gallery-color;
            &:hover, &:focus, &:active, &:disabled {
                background-color: $gallery-color;
                border-color: $gallery-color;
                color: $second-color;
                text-decoration: none;
            }      
        }    
    }
}




