body {
    background: $body-bg;
    //color: $body-bg;
    line-height: $line-height-base;

    .navbar {
        background: $second-color;
        color: $second-color;
    }

    .btn-orange {
        background-color: $second-color; 
        color: $gallery-color; 
        border-color: $gallery-color;

        &:hover, &:focus, &:active {
            background-color: $gallery-color;
            border-color: $gallery-color;
            color: $second-color;
            text-decoration: none;
        }
        
    }

   
    .navbar-brand {
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        color: $second-color;
    }

    a, .nav-link {
        color: $second-color;
        text-decoration: none;

        &:hover, &:focus {
            color: $second-color-light;
            text-decoration: none;
        }
    }

    .text-info {
        color: $second-color !important;
    }

    .section-title {
        border-bottom: 1px solid $second-color; 
        font-size: 2rem;
        font-weight: 100;
        text-transform: uppercase;
        line-height: 0.1em;
        letter-spacing: 0.15rem;
        word-spacing: 0.4rem;
        color: $second-color;

        .form-control {
            background: $gallery-color;
            height: 1.5rem;
    
            &:hover, &:focus, &:active {
                background-color: $second-color-light;
                border-color: $gallery-color;
                color: $gallery-color;
                text-decoration: none;
            }
        }
        
    
        .section-title-line {
            background: $body-bg;
            padding: 0 10px 0 0; 
        }
    }

    form {
        .form-control {
            // height: auto;
    
            &:focus {
                color: $first-color;
                background-color: $second-color;
                border-color: rgba($gallery-color, 0.25);
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba($gallery-color, 0.25);
            }
        }

        .form-check-input {
            appearance: auto; /* DON'T DELETE, important! */
            background: $second-color;
            border-color: $first-color-light;  
            height: 1rem;
            width: 1rem;
                               
            &:checked {
                background-color: $gallery-color;
            }
        
            &:hover, &:active, &:focus {
                box-shadow: 0 0 0 0.25rem rgba($gallery-color, 0.25);
            }
        }
    }

    table {
        .table-img {
            max-width: 5rem;
        }

        /* & > * {
            padding-left: 12rem !important;
        } */

        > td {
            padding: 32rem !important;
            vertical-align: middle;
        }
    }

    footer {
        background: $gallery-color-dark;
        color: $second-color;

        .footer-container {
            #credits {

                & > h6 {
                    line-height: inherit;
                    margin: 0 0.5rem 0 0;
                }

                & > a {
                    color: $second-color;
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;

                    & > svg {
                        fill: $second-color;
                        stroke: $second-color;
                        margin: 0 0.2rem 0 0;
                    }
                }
            }

            .social-media {

                & > :not(last-child) {
                    margin: 0 1.2rem 0 0;
                }
            }
        }
    }
}