#app {
    min-height: 100vh;
    max-width: 100%;
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .header-container, main > div, .footer-container {
        max-width: 90%;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    main {
        display: flex;
        flex: 1 0 auto;

        & > div {
            padding: 8rem 0 !important;
        }
    }

    footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    
        .footer-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            & > div {
                display: inline-flex;
            }
    
            #credits {
    
                & > h6 {
                    line-height: inherit;
                    margin: 0 0.5rem 0 0;
                }
    
                & > a {
                    display: inline-flex;
                    align-items: center;
                }
            }
        }
    }
}