
$font-size-base: 0.9rem;
$border-radius: 0.5rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 0.5rem;
$list-group-item-padding-x: 1rem;
$custom-checkbox-indicator-border-radius: 0.25rem;
$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-0: 0;
$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$enable-validation-icons: false;

// COLORS

$body-bg: #353535;
$gallery-color: #353535;
$gallery-color-dark: #1f1f1f;
$first-color: #bdbdbd;
$first-color-light: #f0f0f0;
$second-color: #ffa600;
$second-color-light: #ffdc9a;
$card-cap-bg: #ffffff;
$input-group-addon-bg: #ffffff;
$input-placeholder-color: #adb5bd;
$list-group-action-active-bg: #f8f9fa;